[Unit]
Description=hacksec mail api service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=hacksec_server
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /opt/hacksec_tempmail/server.py

[Install]
WantedBy=multi-user.target